.drop-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    border: 2px dashed gray;
    font-size: 24px;
  }
  
.text {
margin: 0;
}

.list {
list-style: none;
margin: 0;
padding: 0;
}

.li {
margin-bottom: 10px;
}
